#game-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    width: 80px;
    height: 80px;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    user-select: none;
    -webkit-user-drag: none;
}

/* @media (orientation: portrait) {
    .buttons {
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
    }
}

@media (orientation: landscape) {
    .buttons {
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    body {
        background-color: red !important;
    }
} */

@media (orientation: portrait) {
    #game-container {
        flex-direction: column;
    }
    .buttons {
        flex-direction: row;
        justify-content: center;
    }
}

@media (orientation: landscape) {
    #game-container {
        flex-direction: row;
    }
    .buttons {
        flex-direction: column;
        justify-content: flex-start;
    }
}